<div data-search-target="list">
  <div class="collections-wrapper">
   <% @collections.reverse.each do |collection| %>
    <h2 class="mb-5"><%= link_to collection.title, collection_path(collection), class: 'collection-title' %></h2>
    <p><%= collection.description %></p>
     <div class="collection-wrapper d-flex">
       <% collection.thoughts.each do |thought| %>
         <div class="small-card small-thought-card-collection mb-5 mx-3">
            <% if thought.title %>
              <p class="small-card-title">
                <%=
                thought.title.length > 20 ?
                thought.title[0,20] + "..." :
                thought.title
              %></p>
              <%= link_to '', thought_path(thought), class: 'small-card-link' %>
            <% end %>
            <% if thought.content %>
              <p class="small-card-content">
              <%=
                thought.content.length > 100 ?
                thought.content[0,100] + "..." :
                thought.content
              %></p>
              <%= link_to '', thought_path(thought), class: 'small-card-link' %>
            <% end %>
          </div>
       <% end %>
     </div>

   <% end %>
  </div>
</div>
