<div data-search-target="list">
  <% @collections.reverse.each do |collection| %>
    <div class="collections-wrapper d-flex flex-column align-items-center">
      <div class="collection-container ">
        <div class="small-card">
          <% if collection.title %>
            <p class="small-card-title"><%= collection.title %></p>
            <%= link_to '', collection_path(collection), class: 'small-card-link' %>
          <% else %>
            <%= link_to '', collection_path(collection), class: 'small-card-link' %>
          <% end %>
          <% if collection.description %>
            <p class="small-card-content">
            <%=
              collection.description.length > 100 ?
              collection.description[0,100] + "..." :
              collection.description
               %>
            </p>
            <%= link_to '', collection_path(collection), class: 'small-card-link' %>
          <% end %>
      </div>

      <i class="fa-solid fa-arrow-right-long align-self-center fa-2x mx-5"></i>

      <div id="carouselExampleControls_<%= collection.id %>" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% collection.thoughts.each do |thought| %>
            <% if collection.thoughts.first == thought %>
              <div class="carousel-item active">
                <div class="small-card d-block w-100 small-thought-card-collection">
                  <% if thought.title %>
                    <p class="small-card-title"><%= thought.title %></p>
                    <%= link_to '', thought_path(thought), class: 'small-card-link' %>
                  <% end %>
                  <% if thought.content %>
                    <p class="small-card-content">
                    <%=
                      thought.content.length > 150 ?
                      thought.content[0,150] + "..." :
                      thought.content
                    %></p>
                    <%= link_to '', thought_path(thought), class: 'small-card-link' %>
                  <% end %>
                </div>
              </div>
            <% else %>
              <div class="carousel-item">
                <div class="small-card d-block w-100 small-thought-card-collection">
                  <% if thought.title %>
                    <p class="small-card-title"><%= thought.title %></p>
                    <%= link_to '', thought_path(thought), class: 'small-card-link' %>
                  <% end %>
                  <% if thought.content %>
                    <p class="small-card-content">
                    <%=
                      thought.content.length > 150 ?
                      thought.content[0,150] + "..." :
                      thought.content
                     %></p>
                    <%= link_to '', thought_path(thought), class: 'small-card-link' %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls_<%= collection.id %>" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls_<%= collection.id %>" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  <% end %>
</div>
