<%#= form_with url: collections_path, method: :get, class: "d-flex" do %>
  <%#= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a collection"
  %>
  <%#= submit_tag "Search", class: "btn btn-primary" %>
<%# end %>

  <div data-controller="search">
    <div class="container page-container">
      <section class="title-search-container">
        <h1>Your thought collections</h1>
        <div class="search-bar align-self-center">
        <%= form_with url: collections_path, method: :get, html: {class: "", data: {search_target: "form"}} do |f| %>
            <%= f.text_field :query,
                        class: "form-control",
                        placeholder: "Search collections",
                        value: params[:query],
                        data: {search_target: "input",
                        action: "keyup->search#update"} %>
          <% end %>
        </div>
        <div class="new-collection-button-container align-self-center">
          <%= link_to 'Start a new collection', new_collection_path, class: 'button' %>
        </div>
      </section>

      <%= render 'list' %>
    </div>
  </div>
</div>

<div class="footer-container">
  <%= render 'shared/footer' %>
</div>
