<h1>Your Collections:</h1>

<% @collections.reverse.each do |collection| %>
  <div class="small-card">
  <% if collection.title %>
      <p class="card-content"><%= collection.title %></p>
      <%= link_to '', collection_path(collection), class: 'small-card-link' %>
    </div>
  <% else %>
      <p class="card-content"><%= collection.title %></p>
      <%= link_to '', collection_path(collection), class: 'small-card-link' %>
    </div>

  <%# <% @collections.each do |collection| %>
    <%# <ul><%= link_to "view thoughts within the collection", collection_path(collection) %>
    <%# <%= collection.id</ul> %>
    <%# <% if collection.title == nil
      <%# <%= simple_form_for(collection) do |f| %>
        <%# <%= f.input :title %>
        <%# <%= f.input :description %>
        <%# <%= f.button :submit %>
      <%# <% end %>
    <%# <% else %>
      <%# <%= collection.title %>
      <%# <%= collection.description %>
  <% end %>
<% end %>
