<div class="container page-container">
  <div class="page-title-container">
    <h1>Start your new collection</h1>
  </div>

  <!--

  <div class="form-container">
    <%= form_with model: @collection do |f| %>
    <%= f.text_field :title, placeholder: 'Title of your collection' %>
    <br>
    <%= f.text_area :title, placeholder: 'Insert a description for your collection' %>
    <br>
    <%= f.button :submit, class: 'button' %>
    <% end %>
    <br>
    <%= link_to 'Cancel', collections_path, class: 'button' %>
  </div>

  -->


  <%= form_with(model: @collection) do |f| %>
  <div class="card px-3 py-3">
    <div class="card-body">

      <div class="mb-5">
        <h3><%= f.label :title, { class: "form-label"} %></h3>
        <h3><%= f.text_field :title, { class: "form-control form-control-lg", placeholder: "New collection" } %></h3>
      </div>

      <div class="mb-5">
        <h3><%= f.label :description, { class: "form-label"} %></h3>
        <h3><%= f.text_area :description, { class: "form-control form-control-lg", size: "60x7", placeholder: "This collection is about..." } %></h3>
      </div>

      <div class="mb-5">
        <h3>Add your first thought to your new collection</h3>
        <%= simple_form_for(@thought) do |f| %>
          <h4><%= f.input :title, { class: "form-control form-control-lg", size: "60x7" } %></h4>
          <h4><%= f.input :content, { class: "form-control form-control-lg", size: "60x7" } %></h4>
        <% end %>
      </div>

      <%= link_to 'Cancel', collections_path, class: 'button' %>
      <%= f.submit "Save", class: "button" %>

    </div>
  </div>
  <% end %>

<!--
  <%= form_with(model: @collection) do |f| %>
    <div class="card-main w-50 mt-5 mb-5 mx-auto">
      <div class="card-body">
        <h3><%= f.text_field :title, { class: "", placeholder: "Title" } %></h3>
        <h4><%= f.text_area :description, { class: "", placeholder: 'This collection will be about...' } %><h4>
      </div>
    </div>
  <% end %>
-->
</div>
