<div class="container page-container mb-2">
  <div class="page-title-container mb-5">
    <h1>Start your new collection</h1>
  </div>

  <%= form_with(model: @collection) do |f| %>
    <div class="card px-3 py-3">
      <div class="card-body">

        <div class="form-flex-wrapper">

          <div class="form-flex-top">
            <section class="left-side-form">
              <div class="mb-5">
                <h3><%= f.label :title, { class: "form-label mb-4"} %></h3>
                <h3><%= f.text_field :title, { class: "form-control form-control-lg new-collection-input", placeholder: "New collection" } %></h3>
              </div>

              <div class="mb-5">
                <h3><%= f.label :description, { class: "form-label mb-4"} %></h3>
                <h3><%= f.text_area :description, { class: "form-control form-control-lg new-collection-textarea", size: "60x8", placeholder: "This collection is about..." } %></h3>
              </div>
            </section>

            <section class="right-side-form">
              <h3 class="mb-4">Add first thought to start your new collection</h3>

              <%= form_with model: @thought, data: { controller: "button-switch" } do |f| %>
                <div class="card-main">
                  <div class="card-body">
                    <h3><%= f.text_field :title, class:'form-card-title text-center mb-4', placeholder: 'Title of your card' %></h3>
                    <h4><%= f.text_area :content, size: "66x8", class:'form-card-text', placeholder: 'Say it in your own words...' %></h4>
                  </div>
                </div>
              <% end %>
              <p class="text-start mt-1 mb-4">*Remember: You need to create a first thought card to start your collection</p>
            </section>
          </div>

          <div class="form-flex-bottom align-self-center">
            <section class="buttons-form-container">
              <%= link_to 'Cancel', collections_path, class: 'button' %>
              <%= f.submit "Save", class: "button input-save-btn" %>
            </section>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
