<div class="navbar navbar-expand-sm navbar-light navbar-lewagon height-3 border-bottom fixed-top">
  <div class="container-fluid text-center">
    <%= link_to user_signed_in? ? "/thoughts" : "/", class: "navbar-brand fw-bolder" do %>
      <div class="logo-container">
        <span class="fa-stack fa-md">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa-regular fa-note-sticky fa-stack-1x fa-inverse"></i>
        </span>
      </div>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-items-group d-flex" >

            <%# searchbar %>
            <%# <div>
              <input type="text" class="searchbar">
              <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div> %>
            <%= link_to "+", "/thoughts/new", :class=>"add-button", :style=>"text-decoration: none;" %>
            <%= link_to "Thoughts", "/thoughts", :class=>"nav-items-list", :style=>"text-decoration: none;" %>
            <%= link_to "Collections", "/collections", :class=>"nav-items-list", :style=>"text-decoration: none;" %>
          </li>
          <li class="nav-item dropdown h-100">
            <div class="dropdown-toggle menu-profile h-100" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img id="avatar" class="avatar dropdown-toggle" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png"/>
              <span class="navbar-toggler-icon"></span>
            </div>
              <div class="dropdown-menu dropdown-menu-end mt-3" aria-labelledby="navbarDropdown">
                <%= link_to "My Collections", "/collections", class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item btn-log-out", data: {turbo_method: :delete} %>
              </div>
          </li>
        <% else %>
          <li class="nav-item d-flex">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div style="height: 105px"></div>
