<div class="container" data-search-browse-target="browseList">
<div class="page-container">
  <div class="container">

  <style>
    @media (min-width: 576px) {
      .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }

    @media (min-width: 768px) {
      .col-md-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
      }
    }

    @media (min-width: 992px) {
      .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }
  </style>
  </div>
  <div class="container">
    <div class="row gy-3">
      <% @thoughts.reverse.each do |thought| %>
        <% if !thought.is_connected?(@thought.id) %>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center mb-3">
              <div class="small-card align-self-end">
                <p class="small-card-title">
                <%=
                  thought.title.length > 20 ?
                  thought.title[0,20] + "..." :
                  thought.title
                %></p>
                <p class="small-card-content">
                  <%= thought.content.length >= 94 ?
                      thought.content[0,94] + "..." :
                        thought.content %>
                </p>
               <%= link_to "", connect_thought_path(thought, selected_id: @thought.id), class: "small-card-link", data: {turbo_method: :post} %>
              </div>
          </div>
        <% else %>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center mb-3">
            <div class="small-card-connected align-self-end">
                <p class="small-card-title">
                <%=
                  thought.title.length > 20 ?
                  thought.title[0,20] + "..." :
                  thought.title
                %></p>
                <p class="small-card-content">
                  <%= thought.content.length >= 94 ?
                      thought.content[0,94] + "..." :
                        thought.content %>
                </p>
              <%= link_to "", disconnect_thought_path(thought, selected_id: @thought.id), class: "small-card-link", data: {turbo_method: :post} %>
            </div>
          </div>
        <% end %>
      <% end %>
</div>
