<div class="page-container" data-search-thoughts-target="listThought">
  <div class="page-title-container container">
    <h1>Welcome, <%= current_user.username %></h1>
  </div>

    <div class="search-bar align-self-center">
      <%= form_with url: thoughts_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a thought"
        %>
        <%# <%= submit_tag "Search", class: "search-button" %>
        <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
      <% end %>
    </div>
  </div>

  <div class="container">
    <div class="row gy-3">
      <div class="col-3 d-flex justify-content-center">
        <div class="new-thought-card">
          Start a new thought
          <%= link_to '', new_thought_path, class: 'new-thought-card-link' %>
        </div>
      </div>
        <% @thoughts.reverse.each do |thought| %>
          <div class="col-3 d-flex justify-content-center">
            <div class="small-card">
              <p class="small-card-title"><%= thought.title %></p>
              <p class="small-card-content"><%= thought.content[0,100] + "..." %></p>
              <%= link_to '', thought_path(thought), class: 'small-card-link' %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
