<h1>Browse thoughts to connect to: <%= @thought.title %></h1>
<h1>Thoughts:</h1>
<ul>
  <% @thoughts.each do |thought| %>
    <% if !thought.is_connected?(@thought.id) %>
      <form action="/thoughts/<%= thought.id %>/connect" method='post'>
          <input type="hidden" name='selected_id' value='<%= @thought.id %>' id='child_thought_connect'>
        <input class="small-card" type="submit" name='commit' value='<%= thought.title %>' class=''>
      </form>
    <% else %>
      <form action="/thoughts/<%= thought.id %>/disconnect" method='post'>
          <input type="hidden" name='selected_id' value='<%= @thought.id %>' id='child_thought_disconnect'>
        <input class="small-card" type="submit" name='commit' value='<%= thought.content %>' class=''>
      </form>
    <% end %>
  <% end %>
</ul>
