<div class="new-page-container">
  <div class="container">
    <div class="row">
      <div class="col-8">

        <%= form_with model: @thought do |f| %>
        <div class="card-main">
          <div class="card-body">
            <h1><%= f.text_field :title, class:'form-card-title' %></h1>
            <%= f.text_area :content, size: "66x8", class:'form-card-text' %>
          </div>
        </div>

        <div class="buttons-container">
          <%= link_to "Connect to a parent thought", browse_thoughts_path(@thought), class:"button" %>
          <%= link_to 'Cancel', thoughts_path, class: 'button' %>
          <%= f.submit 'Complete', class: 'button'%>
        </div>
        <% end %>
      </div>

      <div class="col-4">
        <div class="right-side">
          <div class="link-thoughts-title-container mb-3">
            <h3>Linked thoughts</h3>
          </div>
          <div class="cards-to-link-container empty-links-box">
            No thoughts to link
          </div>
        </div>
            <!--
            <div class="search-container">
              Enter keywords...
            </div>
            -->
      </div>
    </div>
  </div>
</div>


<!--
  <%= form_with model: @thought do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :content %>
  <%= f.submit %>
  <% end %>
-->
