<div class="new-page-container">
  <div class="container">
    <div class="row">
      <div class="col-8">

        <%= form_with model: @thought, data: { controller: "button-switch" } do |f| %>
        <div class="card-main">
          <div class="card-body">
            <h1><%= f.text_field :title, class:'form-card-title' %></h1>
            <%= f.text_area :content, size: "66x8", class:'form-card-text' %>
          </div>
        </div>

        <div class="buttons-container">
          <%= link_to "Connect to a parent thought", browse_thoughts_path(@thought), class:"button" %>
          <%= link_to 'Cancel', thought_path(@thought), class: 'button' %>
          <div class="buttons-container-left">
            <%= f.submit 'Save', class: 'button', id: "save-button" %>
          </div>
        </div>
        <% end %>
      </div>

      <% if @thought.parent %>
        <div class="col-4">
          <div class="right-side">
            <div class="link-thoughts-title-container">
              <h5 class="mb-4">Thought that came before: </h5>
            </div>
            <div class="small-card-parent">
              <% if @thought.parent %>
                <p class="card-title"><%= @thought.parent.title %></p>
                <p class="card-content"><%= @thought.parent.content[0,100] + "..." %></p>
                <%= link_to '', thought_path(@thought.parent), class: 'small-card-link' %>
              <% end %>
            </div>
            <div class="link-thoughts-title-container mt-4">
              <h5 class="mb-4">All the thoughts that led to this:</h5>
            </div>
            <div class="small-card-roll">
              <% if @thought.ancestors.any? %>
                <% @thought.ancestors.each do |ancestor| %>
                  <div class="small-card-ancestor">
                    <p class="card-title"><%= ancestor.title %></p>
                    <p class="card-content"><%= ancestor.content[0,100] + "..." %></p>
                    <%= link_to '', thought_path(ancestor), class: 'small-card-link' %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="col-4">
          <div class="right-side">
            <div class="link-thoughts-title-container mb-3">
              <h3>Linked thoughts</h3>
            </div>
              <div class="cards-to-link-container empty-links-box">
                No thoughts linked
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<!--
  <%= form_with model: @thought do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :content %>
  <%= f.submit %>
  <% end %>
-->
