<!--
<h1>Hi <%= current_user.username %></h1>

<h3>Here are your last 10 cards:</h3>

<ul>
  <% @thoughts.reverse.last(10).each do |thought| %>
    <li><%= link_to(thought.title, thought_path(thought)) %></li>
    <li><%= thought.content %></li>
  <% end %>
</ul>


<div class="cancel-btn">Cancel</div>
<div class="complete-grey-btn">Complete</div>
<div class="complete-black-btn">Complete</div>
<div class="small-card">Note...</div>
<div class="new-thought-card">Note...</div>

-->

<div class="page-container">
  <div class="page-title-container container">
    <h1>Welcome, <%= current_user.username %></h1>
  </div>

  <div class="container">
    <div class="row gy-5">
      <div class="col-3 d-flex justify-content-center mb-3">
        <div class="new-thought-card">
          Start a new thought
          <%= link_to '', new_thought_path, class: 'new-thought-card-link' %>
        </div>
      </div>

      <% @thoughts.reverse.each do |thought| %>
        <div class="col-3 d-flex justify-content-center mb-3">
          <div class="small-card">
            <p class="card-content"><%= thought.content[0,100] + "..." %></p>
            <%= link_to '', thought_path(thought), class: 'small-card-link' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
