<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="card">
        <%# <>This is the show page for thought n<%= @thought.id %>
        <div class="card-body">
          <h1>Title: <%= @thought.title %></h1>
          <p class="card-text">Content: <%= @thought.content %></p>
        </div>
      </div>

      <div class="buttons">
        <%= link_to "Delete",
            thought_path(@thought),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"button" %>
        <%= link_to "Edit", edit_thought_path(@thought), class:"button" %>
        <%= link_to "Connect to a parent thought", browse_thoughts_path(@thought), class:"button" %>
        <%= link_to "See all thoughts", thoughts_path, class:"button" %>
      </div>
    </div>

    <div class="col-4 mt-1">
      <h3 class="mb-4">Your parent is: </h3>
      <div class="small-card">
        <% if @thought.parent %>
          <p><%= @thought.parent.content[0,100] + "..." %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
