<div>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="card-main">
          <div class="card-body">
            <h1 class="card-title" style=""><%= @thought.title %></h1>
            <p class="card-text"><%= @thought.content %></p>
          </div>
        </div>

        <div class="buttons-container">
          <%= link_to "Back to all thoughts", thoughts_path, class:"button" %>
          <%= link_to "Edit", edit_thought_path(@thought), class:"button" %>
          <div class="buttons-container-left">
            <%= link_to "Delete",
              thought_path(@thought),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"button", style:"display: block;" %>
          </div>
        </div>
      </div>
      <%# if @thought.collection %>
        <%#= @thought.collection.title %>
      <%# end %>
      <% if @thought.parent %>
        <div class="col-4">
          <div class="right-side">
            <div class="link-thoughts-title-container">
              <h5 class="mb-4">Thought that came before: </h5>
            </div>
            <div class="small-card-parent">
              <% if @thought.parent %>
                <p class="card-title"><%= @thought.parent.title %></p>
                <p class="card-content"><%= @thought.parent.content[0,100] + "..." %></p>
                <%= link_to '', thought_path(@thought.parent), class: 'small-card-link' %>
              <% end %>
            </div>
            <div class="link-thoughts-title-container mt-4">
              <h5 class="mb-4">All the thoughts that led to this:</h5>
            </div>
            <div class="inner-shadow">
              <div class="small-card-roll">
                <% if @thought.ancestors.any? %>
                  <% @thought.ancestors.each do |ancestor| %>
                    <div class="small-card-ancestor">
                      <p class="card-title"><%= ancestor.title %></p>
                      <p class="card-content"><%= ancestor.content[0,100] + "..." %></p>
                      <%= link_to '', thought_path(ancestor), class: 'small-card-link' %>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="collection-link">
              <%= link_to "Collection",
              collection_path(@thought.collection), class: 'button collection-button' %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="col-4">
          <div class="right-side">
            <div class="link-thoughts-title-container mb-3">
              <h3>Linked thoughts</h3>
            </div>
              <div class="cards-to-link-container empty-links-box">
                No thoughts linked
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<!--
      <div class="col-4" style="margin-left: 70px">
        <h3 class="mb-4">Your parent is: </h3>
          <div class="small-card">
            <% if @thought.parent %>
              <p><%= @thought.parent.title %></p>
              <p><%= @thought.parent.content[0,100] %></p>
            </div>
          <% end %>

        <%# <div class="mb-4">--------------------------------------</div> %>

      <div class="ancestor">
        <h3 class="mb-4">Ancestors:</h3>
        <div class="small-card-roll">
          <% if @thought.ancestors.any? %>
            <% @thought.ancestors.each do |ancestor| %>
              <div class="small-card">
                <p><%= ancestor.title %></p>
                <p><%= ancestor.content %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
-->
